.swap-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  height: 100%;
  justify-content: center;

  label {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  .swap-params-box {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .action-button {
    justify-content: center;
  }
}