article {
  height: 100vh;
  display: flex;
  flex-direction: column;

  section {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 48px 20px;
    margin: auto;
    display: flex;
    column-gap: 50px;
  }
}